

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@1,300&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h1,h2{
	color: orange;font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}
h3{
	color: black;font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}



.bg-green{ background-color: rgba(77, 194, 123, 1) ;
}


footer{
	grid-area: footer;
	display: flex;
	flex-direction:column;
	text-align: center;

}

header nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: -5px;

}
header nav ul {#4DC27B
  display: flex;
}
header nav ul li{


}
header nav ul li a{
	color:#000 ;
	text-decoration:none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

footer{
	background-color:#ffffff ;
}
footer h3{
	color: black;
}

.logo__img--fluid{
	width: 200px;
}

.footer__icon--sm{
	width: 100px;
}
.instagram__icon--sm{
	width: 150px;
}


}
.linear-gradient{
	background: linear-gradient(to top, whitesmoke, rgba(77, 194, 123, 1.0));
}
.scale:hover{
	transform:scaleX(1.1);
	cursor: pointer;
	transition: 2s;
}
@media (min-width: 768px){

header nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	margin-right: 10px;
}
header nav ul li a{
		font-size: 14px;
	}



@media (min-width: 900px){
	header nav ul li a{
		font-size: 16px;
	}
	
	}
