@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@1,300&display=swap');

$fontMain:'Roboto', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

$textXl:4rem;
$textLg:3rem;
$textMd:2rem;
$textSm:1rem;

$d-flex:flex


